#country-detail-wrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#country-detail-center {
  width: 40%;
}
#activity-detail-center {
  width: 40%;
}
#country-detail-center img {
    width: 60%;
}
