#country-detail-wrap {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#country-detail-center {
  width: 40vw;
}
#activity-detail-center {
  width: 40vw;
}
#country-detail-center img {
  width: 40vw;
}
