#country-detail-wrap {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-image: url("http://localhost:3000/images/mapa-y-camara.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; */
}
#country-detail-center {
  width: 40vw;
}
#activity-detail-center {
  width: 40vw;
}
#country-detail-center img {
    width: 40vw;
}
