#landing-page-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("http://localhost:3000/images/ventanilla.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#landing-page-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 5vh;
  background-color: rgba(101, 85, 85, 0.53);
}
#landing-page-title {
  font-size: 3.2em;
  margin: 0;
  padding: 10px;
  color: aliceblue;
}
#landing-page-wrap a {
  padding: 20px;
  background-color: deepskyblue;
  color: ghostwhite;
  font-weight: 900;
  /* border-radius: 20px; */
  font-size: 1.6em;
  text-decoration: none;
}
#landing-page-wrap a:hover {
  background-color: dodgerblue;
  cursor: pointer;
}
