#search-wrap {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
}
#search-wrap h1 {
    margin: 0;
    padding: 20px 0 25px 0;
    background-color: gainsboro;
  }
#search-wrap span {
    background-color: deepskyblue;
    color: ghostwhite;
    font-weight: 900;    
    padding: 20px;
    border-radius: 20px;
    min-width: 100px;
}
#search-wrap span:hover {
    background-color:dodgerblue;
    cursor: pointer;
}